<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/lib/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/lib/css/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-fixed navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="kw-nav-wrapper clearfix">
                    <div class="kw-logo">
                        <a href="/">
                            <img src="~/lib/images/kw-logo.png" />
                        </a>
                    </div>
                    <div class="col-xs-8" style="margin:0 auto; float:none;">
                        <ul class="nav navbar-nav" style="text-align:center;width:100%;">
                            <li style="float: unset; margin:0 auto;"><a href="/Admin/Home">ADMINISTRATOR</a></li>
                        </ul>
                    </div>

                    <div class="">

                        <a href="/Auth/Logout" class="logout btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/lib/scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/scripts/customScripts.js"></script>

    <!-- DataTables search functionality, with Microsoft CDN for JQuery -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <!-- validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>



    <script type="text/javascript">
    window.doorbellOptions = {
        appKey: 's03Zt2KhpWNX92tZwroY1zXnHBCli1DfFBudZb8xZyGLRBdN9x40u51Bwcikf0oJ'
    };
    (function(w, d, t) {
        var hasLoaded = false;
        function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/6206?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
        if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
        if (d.readyState == 'complete') { l(); }
    }(window, document, 'script'));
    </script>
</body>
</html>
