@model KWFCI.Models.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
    Layout = "_LoginLayout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <img class="login-img" src="~/lib/images/kw-logo.png" />
            <form asp-action="Login" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </span>
                    <input asp-for="UserName" class="form-control" type="text" placeholder="Email address">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <br />
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    
                </div><br />
                <button type="submit" class="btn btn-danger btn-lg btn-block">Sign In</button>
                
            </form>
            <a class="btn btn-link"
                    onclick="location.href='@Url.Action("ForgotPassword", "Auth")'">
                <span>Forgot Password</span>
            </a>
        </div>
    </div>
</div>


